<h1 class="text-3xl">Pricing</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    In dolor excepteur culpa laboris. Tempor sit laborum magna ad id. Commodo ut
    ipsum incididunt in id exercitation. Exercitation cillum qui irure tempor
    dolor veniam laboris id nisi. Dolore dolor magna veniam anim. Consequat id
    velit esse consectetur eiusmod cupidatat qui qui aliquip ea adipisicing
    commodo laborum quis. Cillum proident id quis nostrud reprehenderit commodo
    ex laboris et consectetur consectetur eu sint velit.
  </p>
</section>
